@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

body {
  /* font-family: "Lato","db_admanrounded_xregular","open sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
  background: black;
  font-family:Tahoma, Arial ;
  /* background: url("/background/back-free.jpg") #000 top center no-repeat; */
  background-size: cover;
  background-attachment: fixed;

}

@font-face { font-family: 'Thonburi-Bold'; src: url('~assets/font/SFThonburi-Bold.ttf'); }
@font-face { font-family: 'Thonburi-Regular'; src: url('~assets/font/SFThonburi-Regular.ttf'); }
@font-face { font-family: 'Thonburi-Semibold'; src: url('~assets/font/SFThonburi-Semibold.ttf'); }

small , span , .form-control , a , .btn, p , h1{
  font-family:Tahoma, Arial !important ;

}

.custom-select {
  display: inline-block;
  padding: 0.2rem 1.5rem 0.3rem 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #C2C2C2;
  vertical-align: middle;
  background: #222222 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23C2C2C2' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat;
  border: 1px solid #2c2c2c;
  border-radius: 0.25rem;
  appearance: none;
}



.fixed-top {
  background: #141414 !important;
}

.card {
  background: #191919 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ffc107;
  background-color: #ffc107;
}

.class-tv-box {
  position: fixed;
  top: 10.5rem;
  z-index: 2;
  width: 1077px;
  margin: auto;
  text-align: center;
}

.tv-style-menu {
  margin-top: 36rem;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 0px;
}

.table tbody+tbody {
  border-top: 0px solid;
}


/* td {
  border-right: 0px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  padding: 0px;
} */
.table-live tr.odd {
  background: #211d0e !important;
}
.table-notlive tr.odd {
  background: #14141461 !important;
}
.table-early tr.odd {
  background: black !important;

}
.table-live th {
  border-right: 1px solid #493d0f;
  border-top: 1px solid #493d0f;
  border-left: 1px solid #493d0f;
  background-color: #cca50b;
  padding: 0px;
}
.table-live td {
  border-right: 0px solid #493d0f;
  border-top: 0px solid #493d0f;
  border-left: 0px solid #493d0f;
  border-bottom: 0px;
  /* background-color: #fff2ed; */
  vertical-align: middle;
  padding: 0px;
}

.table-live tr {
  border-right: 0px solid #493d0f;
  border-top: 1px solid #493d0f;
  border-left: 0px solid #493d0f;
  background-color: #211d0e;
}
.table-notlive td {
  border-right: 0px solid #A8D1E7;
  border-top: 0px solid #2c2c2c;
  border-left: 0px solid #2c2c2c;
  border-bottom: 0px;
  vertical-align: middle;
  color: white;
  padding: 0px;
}
.table-notlive th {
  border-right: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  background-color: #444444;
  padding: 0px;
  color: white;
}

.table-notlive tr {
  border-right: 0px solid #A8D1E7;
  border-top: 1px solid #2c2c2c;
  border-left: 0px solid #A8D1E7;
  background-color: #141414;
}

.table-early th {
  border-right: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  background-color: #d5dbdb;
  padding: 0px;
}
.table-early td {
  border-right: 1.5px solid #2c2c2c;
  border-top: 1.5px solid #2c2c2c;
  border-left: 1.5px solid #2c2c2c;
  border-bottom: 0px;
  vertical-align: middle;
  background: black;
  padding: 0px;
}

.table-early tr {
  border-right: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
  border-left: 1px solid #2c2c2c;
  background-color: #2c2c2c;
}


.table-live .league-bg {
  background-color: #ffd2c1;
}

.table-notlive .league-bg {
  background-color: #dff8f5;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #171515;
  border-color: #dee2e6;
}

.page-link {
  position: relative;
  display: block;
  color: #696969;
  background-color: #181515;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color: black;
  background-color: rgb(255, 204, 17);
  border-color: rgb(255, 204, 17);
}


#table-user th{
  border: 1px solid #003B6D;
  text-align: center;
  color: #003B6D;
  padding: 8px;
  font-weight: 900;
  font-size: 15px;
  /* background-color: #8dbfff !important; */

}
#table-user td{
  /* border-top: 1px solid #dde1ef;
  border-right: 1px solid #dde1ef;
  border-left: 1px solid #dde1ef; */
  border: 1px solid #2c2c2c;
  text-align: center;

}

.td-live {
  background-color: #cca50b !important;
}

.td-notlive {
  background-color: #444444 !important;
}

.td-early {
  background-color: #D5DBDB !important;
}

.btn-sm {
  border: 1px solid #545b62;
}


.bg-header-match-live {
  background: #ffd2c1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.bg-header-match-notlive {
  background: #b8f7ef;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
  width: auto;
  margin-left: 5px;
}

 .box-banner {
    margin-top: 190px !important;
  }
  .style-banner {
     margin-top: 63px !important;
  }

.nuxt-progress {
  background-color: rgb(255, 204, 18);
  height: 6px;
}

.style-options {
  font-size: 12px;
  color: darkslategray;
}

.card-border-style {
  /* background: linear-gradient(101deg, rgba(2, 46, 97, 0.7), rgba(2, 46, 97, 0.7)); */
  border: 2px solid #ffffff40;
  border-radius: 12px;
  padding: 9px;
}

.selectleague {
  border: 0.5px solid silver;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 250px;
  height: 39px;
}

.box-credit {
  border: 0.5px solid #e2e8f254;
  border-radius: 8px;
  width: auto;
  height: 39px;
  text-align: center;
  display: inline-block;
  padding-top: 6px;
  margin-top: 12px;

}

.text-ta {
      background: linear-gradient(67deg, rgb(0 0 0) 0%, rgb(255 0 0) 39%, rgb(0 0 0) 100%) 0% 0% / cover no-repeat;
      width: 230px;
      height: 100%;
      justify-content: left;
      padding-left: 10px;
      -webkit-box-align: center;
      display: flex;
}

.text-logo {
      justify-content: left;
      /* padding-left: 10px; */
      margin-left: -22px;
      -webkit-box-align: center;
      display: flex;
}

.fixed-top {
  left: 0px;
  top: 0px;
  z-index: 200;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background: #ffffff;
  border: 1px solid #E1E9F4;
  border-radius:10px;
  margin-bottom: 8px;
  

}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0rem 10rem;
  color: #c2c2c2;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-bottom: 2px solid #FCBA2B;
  color: #FCBA2B;
  background: none;
  padding: 5px;
  border-radius: 0px;
  margin-bottom: 2px;
  font-weight: 700;
  padding: 10px;
  white-space: nowrap;
  /* margin: 0rem 13rem; */
}
.modal-footer {
  display: none;
}
.modal-content {
  background: black !important;
}
/* .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #f1f2f7;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.0rem;
  outline: 0;
} */
.modal-xl {
  max-width: 1096px;
}
.bg-secondary {
  background-color: #f1f2f8 !important;
}

.modal-dialog {
  margin: 1.75rem auto;
  margin-top: 5rem;

}
.modal-open {
  overflow: hidden;
  padding: 0px !important;
}

.modal-body , .modal-content {
  border-radius: 20px;

}
.modal-header {
  padding: 0px;
  border-bottom: 0px solid;
}

.modal-header .close {
  padding: 0;
  margin-right: 0;
  margin-top: -55px;
  background-color: #fc1;
  border-radius: 50px;
  font-size: 33px;
  z-index: 30000;
  height: 40px;
  width: 40px;
  line-height: 40px;
  opacity: 1;
  /* padding: 0px 14px 11px 14px;
  margin-right: -1px;
  margin-top: -54px;
  background: #ffcc11;
  border-radius: 50%;
  height: 40px;
  opacity: 1;
  font-size: 33px; */
}

.bg-light {
  background: black !important;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background: #000000;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  margin-bottom: 8px;
}

.blink-image {
  width: 20px;
  height: 17px;
  vertical-align: sub;
  animation: blink 1s infinite;
}

 @keyframes blink {
  0%, 100% {
    opacity: 1; /* รูปภาพแสดงเต็มที่ */
  }
  50% {
    opacity: 0; /* รูปภาพหายไป */
  }
}

.bg{
  background: #262626;
}

div .favorite:before,
div .favorite:checked:before {
  position: relative;
  top: -6.5px;
}

.favorite-head .favorite:before,
.favorite-head .favorite:checked:before {
  position: relative;
  top: -5px;
}

.favorite {
  font-weight:700;
  visibility:hidden;
  font-size:inherit;
  cursor:pointer;
}

.favorite:before {
 content: "\2606";
 visibility:visible;
 color: var(--secondary);
}

.favorite:checked:before {
 content: "\2605";
 position: absolute;
 color: var(--orange);
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888870; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88888870; 
  border-radius: 10px;
}

.row-style-menu {
  margin-top: 0px;
}
.style-menu-row {
  margin-top: 66px;
}

@media screen and (max-width: 1400px) {
  body {
    width: 1300px;
  }

  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-sm,
  .navbar .container-md,
  .navbar .container-lg,
  .navbar .container-xl {
    justify-content: left;
  }

  .fixed-top {
    position: initial;
    padding: 0px;
    font-size: 14px;
  }

  .text-logo {
    width: 179px;
    margin-left: 29px;
  }

  .container {
    max-width: 1600px;
  }
  .class-tv-box {
    width: 795px;
    top: 6.5rem;
  }
  .tv-style-menu {
    margin-top: 27rem;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1400px;
  }
}

@media screen and (max-width: 850px) {
  .style-menu-row {
      margin-top: 34px;
  }
  .row-style-menu {
    margin-top: 0px;
  }
  .box-banner {
    margin-top: 0px !important ;
  }
  .style-banner {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }

  .row-style-menu {
    margin-top: 0px;
  }

  .style-menu-row {
      margin-top: 34px;
  }
}

@media screen and (max-width: 600px) {
  #table-user {
    width: 130%;
  }
}

@media screen and (max-width: 576px) {
  .text-logo {
    width: 220px;
  }
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 1366px;
  }
} */
